#I was an idiot
Pi4J/pi4j-core/.project
Pi4J/pi4j-core/bin/.project
Pi4J/pi4j-distribution/.project
Pi4J/pi4j-distribution/bin/.project
Pi4J/pi4j-example/.project
Pi4J/pi4j-example/bin/.project
Pi4J/pi4j-native/.project
